html, body {
    margin: 0;
}

#home_head_box {
    background: #323036;
    color: #ffffff;
    text-align: center;
    padding: 2rem 4rem;
}

#home_head_box h1 {
    margin: 0;
}

#home_main_box {
    width: 600px;
    margin: 1rem auto;
    border: dotted 1px #2c2c30;
    border-radius: 5px;
}